[default]

[nodes]
{% for item in k8s_master.instances %}
{{ item.public_ip }}
{% endfor %}
{% for item in ec2.instances %}
{{ item.public_ip }}
{% endfor %}

[nodes:vars]
ansible_ssh_user=core
ansible_ssh_private_key_file=~/.ssh/id_rsa_{{ ssh_key }}
#ansible_python_interpreter="PATH=/home/core/bin:$PATH python"
